cache = 'lenient'

singularity {
        autoMounts      = true
        enabled         = true
        runOptions      = '-e -B /projects'
}

//-B /usr/bin/java -B /usr/lib64 -B /opt/aspera/lib

conda.enabled = true

params {
	run             				= "Version_0.0.1"
	batch           				= "testdata"
        reads                           		= "Variant_catalogue_pipeline/testdata/*_R{1,2}.fastq.gz"
        outdir_ind                                      = "$launchDir/Processed/Individual/"
        outdir_pop                                      = "$launchDir/Processed/Population"
	tmp_dir						= "$launchDir/Processed/tmp"

	//Constant
	SNV						= "SNV"
	STR						= "STR"
	MEI						= "MEI"
	SV						= "SV"
	MT						= "MT"
        chrM                                            = "chrM"
        params.assembly_MT                              = "GRCh38"

	// Softwares directories
        SINGULARITY_TMPDIR                              = '/tmp/'

	//MT subworkflow necessary files
	ref_genome_MT   				= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta"
	ref_genome_MT_index 				= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta.fai"
	ref_genome_MT_dict 				= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.dict"
	ref_genome_MT_shifted				= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
	ref_genome_MT_shifted_index 			= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
	ref_genome_MT_shifted_dict 			= "Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
        blacklist_sites_hg38_MT                         = "Variant_catalogue_pipeline/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed"
        blacklist_sites_hg38_MT_index                   = "Variant_catalogue_pipeline/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed.idx"
        control_region_shifted_reference_interval_list  = "Variant_catalogue_pipeline/testdata/mitochondrial_references/control_region_shifted.chrM.interval_list"
        non_control_region_interval_list                = "Variant_catalogue_pipeline/testdata/mitochondrial_references/non_control_region.chrM.interval_list"
        ShiftBack_chain                                 = "Variant_catalogue_pipeline/testdata/mitochondrial_references/ShiftBack.chain"
	
        gnomad_MT_frequ                                 = "testdata/gnomad.genomes.v3.1.sites.chrM.reduced_annotations.tsv"
	mitotip_predictions_table                       = 'Variant_catalogue_pipeline/testdata/mitochondrial_references/mitotip_scores_08_27_2020.txt'
	pon_predictions_table				= 'Variant_catalogue_pipeline/testdata/mitochondrial_references/pon_mt_trna_predictions_08_27_2020.txt'
	artifact_prone_sites_bed			= 'Variant_catalogue_pipeline/testdata/mitochondrial_references/artifact_prone_sites.bed'
	
	severity_table					= "Variant_catalogue_pipeline/severity_table.tsv"
        
	//A copy of the reference was done locally because Hail could not read the copy located in a common directory
        GRCh38_MT_local_fasta                           = 'Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta'
        GRCh38_MT_local_fai                             = 'Variant_catalogue_pipeline/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta.fai'

        //Annotation files
        vep_cache_merged                                = "testdata/VEP/"
        vep_cache_merged_version                        = "105"
        dir_plugin                                      = "testdata/VEP/Plugins/"

        // Boilerplate options
        help = false
}


profiles {

        GRCh37 {
                params.ref                              = 'Variant_catalogue_pipeline/testdata/reference/human_g1k_v37_decoy.small.fasta'
                params.ref_index                        = 'Variant_catalogue_pipeline/testdata/reference/human_g1k_v37_decoy.small.fasta.fai'

		//Constant
		params.assembly				= 'GRCh37'
                params.Mitochondrial_chromosome		= 'MT'
	        params.chrom                           	= (1..22) +  ['X', 'Y']
//	      	params.chrom                           	= '22'

		//Annotation
		params.CADD_1_6_whole_genome_SNVs	= 'GRCh37/CADD/V1.6/whole_genome_SNVs.tsv.gz'
		params.CADD_1_6_whole_genome_SNVs_index = 'GRCh37/CADD/V1.6/whole_genome_SNVs.tsv.gz.tbi'
		params.CADD_1_6_InDels			= 'GRCh37/CADD/V1.6/InDels.tsv.gz'
		params.CADD_1_6_InDels_index		= 'GRCh37/CADD/V1.6/InDels.tsv.gz.tbi'
		params.spliceai_snv			= 'GRCh37/SPLICEAI/spliceai_scores.masked.snv.hg19.vcf.gz'
                params.spliceai_snv_index               = 'GRCh37/SPLICEAI/spliceai_scores.masked.snv.hg19.vcf.gz.tbi'
		params.spliceai_indel			= 'GRCh37/SPLICEAI/spliceai_scores.masked.indel.hg19.vcf.gz'
                params.spliceai_indel_index             = 'GRCh37/SPLICEAI/spliceai_scores.masked.indel.hg19.vcf.gz.tbi'
		
		//tsv files containing reduced information from gnomAD largest file - code to generate the tsv files available in the GitHub repo of pipeline
		//This file is not necessary to obtain the vcf with variant frequencies and annotation
		params.gnomad_SNV_frequ			= 'GRCh37/gnomad/*.tsv'

		//SV subworkflow specific files
		params.genes_file			= 'Variant_catalogue_pipeline/testdata/reference/hg19_chr20.genes.bed'
		params.transposon_file			= 'Variant_catalogue_pipeline/testdata/reference/transposons.txt'
		params.variant_catalog			= 'Variant_catalogue_pipeline/testdata/reference/variant_catalog_chr20.json'
	}
	

        GRCh38 {
                params.ref                              = 'Variant_catalogue_pipeline/testdata/reference/hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa'
                params.ref_index                        = 'Variant_catalogue_pipeline/testdata/reference/hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa.fai'
 
		//Constant
		params.assembly				= 'GRCh38'
		params.Mitochondrial_chromosome		= 'chrM'
		params.chrom				= ['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']
//		params.chrom				= 'chr22'

		//Annotation
                params.CADD_1_6_whole_genome_SNVs       = 'GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz'
                params.CADD_1_6_whole_genome_SNVs_index = 'GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz.tbi'
                params.CADD_1_6_InDels                  = 'GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz'
                params.CADD_1_6_InDels_index            = 'GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz.tbi'
                params.spliceai_snv                     = 'GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz'
                params.spliceai_snv_index               = 'GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz.tbi'
                params.spliceai_indel                   = 'GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz'
                params.spliceai_indel_index             = 'GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz.tbi'

                //tsv files containing reduced information from gnomAD largest file - code to generate the tsv files available in the GitHub repo of pipeline
                //This file is not necessary to obtain the vcf with variant frequencies and annotation
                params.gnomad_SNV_frequ                 = 'GRCh38/gnomad/*.tsv'

                //SV subworkflow specific files
                params.genes_file                       = 'Variant_catalogue_pipeline/testdata/reference/Hg38_chr20.genes.bed'
                params.transposon_file                  = 'Variant_catalogue_pipeline/testdata/reference/transposons.txt'
                params.variant_catalog                  = 'Variant_catalogue_pipeline/testdata/reference/variant_catalog_chr20.json'
        }	
}



process {
        withLabel:'process_high' {
                cpus = 15
                memory = '300 GB'
        }
        withLabel:'process_medium' {
                cpus = 7
                memory = '200 GB'
        }
        withLabel:'process_low' {
                cpus = 3
                memory = '100 GB'
        }
//Recommended VEP arguments for the test
	withName:'annotation_table_merged' {
        	ext.args = '--cache'
	}

//Recommeded VEP arguments when you have downloaded all the annotation files
//	withName:'annotation_table_merged' {
//        	ext.args = '--plugin CADD,$CADD_1_6_whole_genome_SNVs,$CADD_1_6_InDels --plugin SpliceAI,snv=${spliceai_snv},indel=${spliceai_indel} --cache --dir_cache ${vep_cache_merged} --cache_version ${vep_cache_merged_version} --offline --merged --assembly $assembly_VEP --use_transcript_ref --fasta $reference --distance 0 --symbol --biotype --transcript_version --variant_class --polyphen b --sift b --hgvs --check_existing --var_synonyms --tsl --dir_plugins ${dir_plugin} \'
//	}
}
